<%# this should hold all the html that is at the top of that should be in common every page in your app %>
<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/questions">All Questions</a>
      |
      <a href="questions/new">New Question</a>
    </nav>
