# Have git ignore the folder node_modules/
# and the files .DS_Store when using git commands
node_modules/
.DS_Store

# Have git ignore our compiled SCSS files
# These files are generated everytime we change our
# SCSS files while the server is running
public/stylesheets/*.css
public/stylesheets/*.css.map
